<div class = "ui inverted blue menu">
	<div class = "ui left floated item"> 
		<i class="cloud icon" />
	</div>
	<div class = "ui right floated item"> Login </div>

</div>


<div class = "ui centered page grid">
<div class = "sixteen wide column">
{{outlet}}
</div>
</div>