.applicationView {
	height: 100%;
}

.ui.list > .left-padded.item {
	padding-left: 10px;
}

.ui.form > .ui.input.full-height {
	height: 100%;
}

.mainpage-form {
	overflow: hidden;
}

/* CSS for Homepage */
/*.row.baby-blue {
    background-color: #f4f9fe;
}*/

body {
	    background-color: #EBF4FC;

}

.show-mobile : {
	display: none;
}


@media (max-width: 600px) {
	.hide-mobile {
		display: none !important;
	}	

	.show-mobile {
		display: auto !important;
	}

	#banner-logo {
		width: 100px;
	}

}

#one {
  height: 1vh;
}
#five {
  height: 5vh;
}
#ten {
height: 10vh;
}
#twenty {
height: 20vh;
}