{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="centered row">
    <p class="ui center aligned header" style="font-size:350%">
      Meet the Team
    </p>
  </div>
  <div class="centered row">
    <div class="four wide column">
      <h2 class="ui icon header">
        <img class="ui small circular image" src="/images/sid.jpg">
        <div class="content">
          Sid Murching
          <div class="sub header">Sid is a rising junior at Caltech and ex-Apple intern interested in machine learning and math.</div>
        </div>
      </h2>
      <div class="ui grid">
        <div class="ui centered row">
          <a href="https://www.linkedin.com/pub/siddharth-murching/23/637/254" target="_blank">
            <button class="ui centered circular linkedin icon button">
              <i class="linkedin icon"></i>
            </button>
          </a>
          <a href="http://github.com/friendlymustache">
            <button class="ui centered circular linkedin icon button" target="_blank">
              <i class="github icon"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <h2 class="ui icon header">
        <img class="ui small circular image" src="/images/vansh.jpg">
        <div class="content">
          Vansh Kumar
          <div class="sub header">Vansh is a rising senior at Caltech and ex-Google intern interested in systems and algorithms.</div>
        </div>
      </h2>
      <div class="ui grid">
        <div class="ui centered row">
          <a href="https://www.linkedin.com/pub/vansh-kumar/37/a7/a45" target="_blank">
            <button class="ui centered circular linkedin icon button">
              <i class="linkedin icon"></i>
            </button>
          </a>
          <a href="https://github.com/vanshkumar" target="_blank">
            <button class="ui centered circular linkedin icon button">
              <i class="github icon"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <h2 class="ui icon header">
        <img class="ui small circular image" src="/images/vishal.jpg">
        <div class="content">
          Vishal Talasani
          <div class="sub header">Vishal is a rising sophomore at UChicago interested in applied math and business development.</div>
        </div>
      </h2>
      <div class="ui grid">
        <div class="ui centered row">
          <a href="http://www.linkedin.com/in/vtalasani" target="_blank">
            <button class="ui centered circular linkedin icon button">
              <i class="linkedin icon"></i>
            </button>
          </a>
          <a href="http://github.com/Lahsiv" target="_blank">
            <button class="ui centered circular linkedin icon button">
              <i class="github icon"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
