<div class = "ui menu">
	<div class="ui item"> 
		<i class="cloud icon" />
	</div>
	{{#if session.isAuthenticated}}
	<div class="ui item">
		Welcome, {{session.secure.name}}
	</div>
	{{/if}}
	<div class = "ui right floated item"> {{#fb-login datastore=store success="login_success" failure="login_failure"}}{{/fb-login}} </div>

</div>


<div class = "ui fluid centered container" style="height: 90%">
{{outlet}}
</div>





