<div class = "ui borderless menu">
	<div class="ui item">
      {{#link-to 'index'}}
        <img class="ui small image" src="/images/logo.png">
      {{/link-to}}
     </div>
	{{#if session.isAuthenticated}}
	<div class="ui item hide-mobile">
		Welcome, {{session.secure.name}}
	</div>
	{{/if}}

	<div class="ui borderless right menu" style="min-width: 30%; border: 0px; box-shadow: none;">
		<div class="ui secondary three item borderless menu">
			<div class="ui item">
				{{#link-to 'faq'  class="ui fade blue basic button"}} FAQ {{/link-to}}
			</div>
			{{#if session.isAuthenticated}}
				<div class="ui item">
					{{#link-to 'myaccount' class="ui fade blue basic button"}} My Profile {{/link-to}}
				</div>
			{{else}}
				<div class="ui item">
					{{#link-to 'signup' class="ui fade blue basic button"}} Signup {{/link-to}}
				</div>
			{{/if}}
			<div class="ui item">
				{{#fb-login datastore=store success="login_success" failure="login_failure"}}{{/fb-login}}
			</div>



		</div>
	</div>

</div>


<div class = "ui fluid centered container" style="min-height: 80%">
{{outlet}}
</div>

  <div class="ui grid" style="padding-top: 30px">
    <div class="ui centered row">
      <div class="ui divided horizontal footer link list">
        <div class="item">
          {{#link-to 'index'}} Froshmate {{/link-to}}
        </div>

        <div class="item">
          v 0.1.1
        </div>
        {{#link-to 'about' class="item"}} Team {{/link-to}}
      </div>
    </div>
  </div>
