<div class="ui container">
	<div class="ui center aligned segment">
		<i class="green check icon"/> Your account has been confirmed!  <br>
		We're working on finding mentees for you and will be in touch very soon 
		<i class="smile icon"/> <br>
	</div>
</div>


