{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="centered row">
    <p class="ui center aligned header" style="font-size:350%">
      F.A.Q.
    </p>
  </div>
  <div class="centered row">
    <div class="eight wide column">
      <div class="ui relaxed list">
        <div class="item">
          <div class="content">
            <div class="header">What is Froshmate?</div>
            <div class="description">Froshmate is a service that tries to reduce your stress during the college admissions process.<br>
            We match you with students at your dream college, and let you talk to them about their experiences, the culture of their college,
            and your application. This lets you learn about colleges from an unbiased source, and gives you confidence about the strength of
            your application.</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">Are you a dating service?</div>
            <div class="description">No, why does everyone ask this?</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">Why should I use Froshmate?</div>
            <div class="description">First off, why wouldn't you use Froshmate? It's absolutely free, you have nothing to lose.<br>
            Plus, we know how stressful the process can be. Even if you think your application is already perfect, you still stand
            to gain a lot by talking to students at the school. Plus, when you decide to visit, you'll already have a friend at your dream college.</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">How do I sign up?</div>
            <div class="description">Hit sign up above! After you sign up, you can add more colleges and information about yourself.</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">What schools are you active in right now?</div>
            <div class="description">We're currently in a variety of elite colleges, including Princeton, Harvard, Caltech, UChicago, MIT, and many others.
            If we don't have your dream college, tell us and we'll work on getting you a mentor ASAP. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
