{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="centered row">
    <p class="ui center aligned header" style="font-size:350%">
      F.A.Q.
    </p>
  </div>
  <div class="centered row">
    <div class="eight wide column">
      <div class="ui relaxed list">
        <div class="item">
          <div class="content">
            <div class="header">What is Froshmate?</div>
            <div class="description">Froshmate is a service that (add info here)</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">Are you guys a dating service?</div>
            <div class="description">No, why does everyone ask this?</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">How do I sign up?</div>
            <div class="description">Hit sign up above! After you sign up, you can add more colleges and information about yourself.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
