{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="centered row">
    <p class="ui center aligned header" style="font-size:350%">
      About Froshmate
    </p>
  </div>
  <div class="centered row">
    <div class="eight wide column">
      <p align="center" style="font-size:150%">
        Froshmate is a way for you to get connected with students at your
        dream college, before you even get in. All you need to do is signup,
        tell us what your dream colleges are, and then just sit tight.
        Our A.I. matching software will match you with someone at
        your college who shares your interests and passions, so you can get
        more personalized advice.
      </p>
    </div>
  </div>
</div>
