{{outlet}}

<div class="ui column grid" id="scrollto">
  <div class="row"></div>
  <div class="row"></div>
  <div class="two column centered row">
    <p class="ui center aligned header" style="font-size:350%">
      College Admissions, Rethought.
    </p>
    <div id="ten"></div>

    <div class="ten wide column">
      <div class="ui massive fluid icon input">
        <input type="text" placeholder="Type in your dream college">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
  <div id="twenty"></div>
  <div id="ten"></div>
  <div class="five column centered row">
    <i class="angle down huge icon"></i>
  </div>
  <div id="ten"></div>
  <div id="ten"></div>
</div>
