<div class="ui column grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="two column centered row baby-blue">
    <p class="ui center aligned header" style="font-size:350%" id="scrollto">
      College Admissions, Rethought.
    </p>
    <div class="column">
      <p align="center" style="font-size:150%">
        Froshmate matches you with a student
        from your dream college, so that you can learn
        about the school and application process
        from an unbiased source.

        Think of it as giving you a friend at every college.
      </p>
    </div>
    <p align="center" style="font-size:220%"><br>
      Sign up now for exclusive early access.
    </p>
  </div>
  <div class="column centered row">
      {{signup-form datastore=store colleges=controllers.application.colleges success="login_success" failure="login_failure"}}
  </div>
</div>
<div class="ui column grid">
  <div class="row" style="background-color: #FFFFFF">
    <div id="twenty"></div>
  </div>
  <div class="three column row" style="background-color: #FFFFFF">
    <div class="ten wide column">
      <p class="ui center aligned blue header" style="font-size:350%">
        Meet College Students</p>
      <p align="center" style="font-size:150%"><br>
        Meet students, like Zartosht, that attend<br>
        your dream college. They'll tell you all<br>
        about the school and application process.<br><br>
        And you can trust your friends to be honest,<br>
        giving you the real facts about campus.
      </p>
    </div>
    <div class="six wide column">
      <h2 class="ui icon header">
        <img class="ui medium image" src="assets/images/zart.png">
        <div class="content">
          Zartosht Ahlers
          <h3 class="ui header">Princeton '18</h3>
          <div class="sub header">
            "I love using Froshmate because it gives me<br>
            an opportunity to help high schoolers in need."
          </div>
        </div>
      </h2>
    </div>
  </div>
  <div class="row" style="background-color: #FFFFFF">
    <div id="twenty"></div>
  </div>
  <div class="row">
    <div id="twenty"></div>
  </div>
  <div class="three column row">
    <div class="eight wide column">
      <h2 class="ui center aligned icon header">
        <img class="ui medium image" src="assets/images/varun.png">
        <div class="content">
          Varun Jain
          <h3 class="ui header">Duke '18</h3>
          <div class="sub header">
            "I wish I had Froshmate when
            I was applying to college.<br>
            It would have made the process
            much less stressful."
          </div>
        </div>
      </h2>
    </div>
    <div class="eight wide column">
        <p class="ui center aligned blue header" style="font-size:350%">
          Ditch the Stress</p>
        <p align="center" style="font-size:150%"><br>
        Stop stressing over details on your app<br>
        or on picking the right college. <br><br>
        By talking to a friend, you can gain confidence<br>
        with your application, and you'll be sure<br>
        that you'll have a blast at any college.
      </p>
    </div>
  </div>
  <div class="row"><div id="twenty"></div></div>
  <div class="row" style="background-color: #FFFFFF"><div id="twenty"></div></div>
  <div class="two column centered row" style="background-color: #FFFFFF">
    <div class="column">
      <p class="ui center aligned header" style="font-size:350%">
        So what are you waiting for?
      </p>
    </div>
  </div>
  <div class="two column centered row" style="background-color: #FFFFFF">
    <button class="ui primary center button" {{action 'scrolltosignup'}}>
      <p style="font-size:250%">
        Sign up now.
      </p>
    </button>
  </div>
  <div class="two column centered row" style="background-color: #FFFFFF">
    <div id="twenty"></div>
  </div>
</div>


{{outlet}}
