{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="centered row">
    <div class="twelve wide column">
      <div class="ui huge center aligned header">Make like a lumberjack<br>and get loggin'</div>
    </div>
  </div>
  <div class="eight column centered row">
    <div class="four wide column">
      <form class="ui center aligned form">
          <div class="field">
            <input type="text" name="email" placeholder="Email">
          </div>
          <div class="field">
            <input type="text" name="password" placeholder="Password">
          </div>
      </form>
    </div>
  </div>
  <div class="eight column centered row">
    <div class="ui primary centered button">Log in</div>
  </div>
</div>
