<div class="ui header">
{{other_user.name}} <br>
	<div class="sub header">
		Something not working? Please <a target="_blank" href="mailto:froshmate@gmail.com"> let us know :) </a>
	</div>
</div>
{{#if false}}
<div class="ui right floated header" {{action "toggle_convo_info"}}>
	<i class="inverted blue link info circle icon"/>
</div>
{{/if}}