{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="eight column centered row">
    <div class="five wide column">
      <div class="ui huge center aligned header">Sign up</div>
    </div>
  </div>
  <div class="eight column centered row">
    {{signup-form datastore=store colleges=controllers.application.colleges}}
  </div>
</div>
<div id="twenty"></div>
<div id="twenty"></div>
