{{outlet}}

<div class="ui column grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="eight column centered row">
    <div class="five wide column">
      <div class="ui huge center aligned header">Glad to have you on board :)</div>
    </div>
  </div>
  <div class="eight column centered row">
    {{login-window datastore=store}}
  </div>
</div>
<div id="twenty"></div>
<div id="twenty"></div>
