{{yield}}

<div class="field">
   <div class="ui search selection dropdown" id="college">
     <input type="hidden" name="college">
     <i class="dropdown icon"></i>
     <div class="default text">{{prompt}}</div>
     <div class="menu">
       {{#each colleges key="id" as |college|}}
            <div class="item" {{action "selectCollege" college}}>{{college.name}}</div>
       {{/each}}
     </div>
  </div>
</div>