{{yield}}

<div class="field">
   <div class="ui search selection dropdown">
     <input type="hidden" name="item">
     <i class="dropdown icon"></i>
     <div class="default text">{{prompt}}</div>
     <div class="menu">
       {{#each items key="id" as |item|}}
            <div class="item" {{action "selectItem" item}}>{{item.name}}</div>
       {{/each}}
     </div>
  </div>
</div>