{{yield}}

<div class="field">
   <div class="ui search selection dropdown" id="college">
     <input type="hidden" name="college">
     <i class="dropdown icon"></i>
     <div class="default text">{{name}}</div>
     <div class="menu">
        <div class="item" data-value="Adelphi University">Adelphi University</div>
        <div class="item" data-value="Agnes Scott College">Agnes Scott College</div>
        <div class="item" data-value="University of Alabama">University of Alabama</div>
        <div class="item" data-value="University of Alabama Birmingham">University of Alabama Birmingham</div>
        <div class="item" data-value="University of Alabama Huntsville">University of Alabama Huntsville</div>
        <div class="item" data-value="Albion College">Albion College</div>
        <div class="item" data-value="Albright College">Albright College</div>
        <div class="item" data-value="Alfred University">Alfred University</div>
        <div class="item" data-value="Allegheny College">Allegheny College</div>
        <div class="item" data-value="American International College">American International College</div>
        <div class="item" data-value="American University">American University</div>
        <div class="item" data-value="Amherst College">Amherst College</div>
        <div class="item" data-value="Antioch College">Antioch College</div>
        <div class="item" data-value="University of Arizona">University of Arizona</div>
        <div class="item" data-value="Arizona State University">Arizona State University</div>
        <div class="item" data-value="University of Arkansas">University of Arkansas</div>
        <div class="item" data-value="Assumption College">Assumption College</div>
        <div class="item" data-value="College of the Atlantic">College of the Atlantic</div>
        <div class="item" data-value="Auburn University">Auburn University</div>
        <div class="item" data-value="Austin College">Austin College</div>
        <div class="item" data-value="Babson College">Babson College</div>
        <div class="item" data-value="Ball State University">Ball State University</div>
        <div class="item" data-value="Bard College">Bard College</div>
        <div class="item" data-value="Baruch College">Baruch College</div>
        <div class="item" data-value="Baylor University">Baylor University</div>
        <div class="item" data-value="Beloit College">Beloit College</div>
        <div class="item" data-value="Bennington College">Bennington College</div>
        <div class="item" data-value="Bentley University">Bentley University</div>
        <div class="item" data-value="Birmingham Southern College">Birmingham Southern College</div>
        <div class="item" data-value="Berea College">Berea College</div>
        <div class="item" data-value="Boston College">Boston College</div>
        <div class="item" data-value="Boston University">Boston University</div>
        <div class="item" data-value="Bowling Green State University">Bowling Green State University</div>
        <div class="item" data-value="Bradley University">Bradley University</div>
        <div class="item" data-value="Brandeis University">Brandeis University</div>
        <div class="item" data-value="Brigham Young University">Brigham Young University</div>
        <div class="item" data-value="University of British Columbia">University of British Columbia</div>
        <div class="item" data-value="Brooklyn College">Brooklyn College</div>
        <div class="item" data-value="Brown University">Brown University</div>
        <div class="item" data-value="Bucknell University">Bucknell University</div>
        <div class="item" data-value="Butler University">Butler University</div>
        <div class="item" data-value="University of California - GENERAL">University of California - GENERAL</div>
        <div class="item" data-value="University of California - Berkeley">University of California - Berkeley</div>
        <div class="item" data-value="University of California - Davis">University of California - Davis</div>
        <div class="item" data-value="University of California - Irvine">University of California - Irvine</div>
        <div class="item" data-value="University of California - Los Angeles">University of California - Los Angeles</div>
        <div class="item" data-value="University of California - Merced">University of California - Merced</div>
        <div class="item" data-value="University of California - Riverside">University of California - Riverside</div>
        <div class="item" data-value="University of California - San Diego">University of California - San Diego</div>
        <div class="item" data-value="University of California - Santa Barbara">University of California - Santa Barbara</div>
        <div class="item" data-value="University of California - Santa Cruz">University of California - Santa Cruz</div>
        <div class="item" data-value="California Institute of Technology">California Institute of Technology</div>
        <div class="item" data-value="California Lutheran University">California Lutheran University</div>
        <div class="item" data-value="Cal Poly Pomona">Cal Poly Pomona</div>
        <div class="item" data-value="Cal Poly San Luis Obispo">Cal Poly San Luis Obispo</div>
        <div class="item" data-value="California State University - GENERAL">California State University - GENERAL</div>
        <div class="item" data-value="California State University - Fresno">California State University - Fresno</div>
        <div class="item" data-value="California State University - Fullerton">California State University - Fullerton</div>
        <div class="item" data-value="California State University - Long Beach">California State University - Long Beach</div>
        <div class="item" data-value="California State University - Los Angeles">California State University - Los Angeles</div>
        <div class="item" data-value="California State University - Monterey Bay">California State University - Monterey Bay</div>
        <div class="item" data-value="California State University - Northridge">California State University - Northridge</div>
        <div class="item" data-value="Carleton College">Carleton College</div>
        <div class="item" data-value="Carnegie Mellon University">Carnegie Mellon University</div>
        <div class="item" data-value="Carroll College">Carroll College</div>
        <div class="item" data-value="Case Western Reserve University">Case Western Reserve University</div>
        <div class="item" data-value="Catholic University of America">Catholic University of America</div>
        <div class="item" data-value="Central Connecticut State University">Central Connecticut State University</div>
        <div class="item" data-value="University of Central Florida">University of Central Florida</div>
        <div class="item" data-value="Centre College">Centre College</div>
        <div class="item" data-value="Champlain College">Champlain College</div>
        <div class="item" data-value="Chapman University">Chapman University</div>
        <div class="item" data-value="University of Chicago">University of Chicago</div>
        <div class="item" data-value="Christopher Newport University">Christopher Newport University</div>
        <div class="item" data-value="University of Cincinnati">University of Cincinnati</div>
        <div class="item" data-value="City College of New York">City College of New York</div>
        <div class="item" data-value="Claremont McKenna College">Claremont McKenna College</div>
        <div class="item" data-value="Clark University">Clark University</div>
        <div class="item" data-value="Clarkson University">Clarkson University</div>
        <div class="item" data-value="Clemson University">Clemson University</div>
        <div class="item" data-value="Coe College">Coe College</div>
        <div class="item" data-value="Colby College">Colby College</div>
        <div class="item" data-value="Colgate University">Colgate University</div>
        <div class="item" data-value="College of Charleston">College of Charleston</div>
        <div class="item" data-value="University of Colorado - Boulder">University of Colorado - Boulder</div>
        <div class="item" data-value="Colorado College">Colorado College</div>
        <div class="item" data-value="Colorado School of Mines">Colorado School of Mines</div>
        <div class="item" data-value="Colorado State University">Colorado State University</div>
        <div class="item" data-value="Columbia College Chicago">Columbia College Chicago</div>
        <div class="item" data-value="University of Connecticut">University of Connecticut</div>
        <div class="item" data-value="Connecticut College">Connecticut College</div>
        <div class="item" data-value="Cooper Union">Cooper Union</div>
        <div class="item" data-value="Cornell College">Cornell College</div>
        <div class="item" data-value="Columbia University">Columbia University</div>
        <div class="item" data-value="Cornell University">Cornell University</div>
        <div class="item" data-value="Creighton University">Creighton University</div>
        <div class="item" data-value="CUNY System">CUNY System</div>
        <div class="item" data-value="Dartmouth College">Dartmouth College</div>
        <div class="item" data-value="University of Dayton">University of Dayton</div>
        <div class="item" data-value="Deep Springs College">Deep Springs College</div>
        <div class="item" data-value="DePaul University">DePaul University</div>
        <div class="item" data-value="DePauw University">DePauw University</div>
        <div class="item" data-value="Denison University">Denison University</div>
        <div class="item" data-value="University of Delaware">University of Delaware</div>
        <div class="item" data-value="University of Denver">University of Denver</div>
        <div class="item" data-value="Dickinson College">Dickinson College</div>
        <div class="item" data-value="Dominican University of California">Dominican University of California</div>
        <div class="item" data-value="Drew University">Drew University</div>
        <div class="item" data-value="Drexel University">Drexel University</div>
        <div class="item" data-value="Duke University">Duke University</div>
        <div class="item" data-value="Duquesne University">Duquesne University</div>
        <div class="item" data-value="Earlham College">Earlham College</div>
        <div class="item" data-value="East Carolina University">East Carolina University</div>
        <div class="item" data-value="Eckerd College">Eckerd College</div>
        <div class="item" data-value="Elizabethtown College">Elizabethtown College</div>
        <div class="item" data-value="Elon University">Elon University</div>
        <div class="item" data-value="Embry-Riddle - Daytona Beach">Embry-Riddle - Daytona Beach</div>
        <div class="item" data-value="Embry-Riddle - Prescott">Embry-Riddle - Prescott</div>
        <div class="item" data-value="Emerson College">Emerson College</div>
        <div class="item" data-value="Emory University">Emory University</div>
        <div class="item" data-value="Fairfield University">Fairfield University</div>
        <div class="item" data-value="Fairleigh Dickinson University">Fairleigh Dickinson University</div>
        <div class="item" data-value="Fashion Institute of Technology">Fashion Institute of Technology</div>
        <div class="item" data-value="Fisk University">Fisk University</div>
        <div class="item" data-value="Flagler College">Flagler College</div>
        <div class="item" data-value="Florida Atlantic University">Florida Atlantic University</div>
        <div class="item" data-value="Florida A&M University">Florida A&M University</div>
        <div class="item" data-value="Florida Institute of Technology">Florida Institute of Technology</div>
        <div class="item" data-value="Florida International University">Florida International University</div>
        <div class="item" data-value="Florida State University">Florida State University</div>
        <div class="item" data-value="Fordham University">Fordham University</div>
        <div class="item" data-value="Franklin & Marshall College">Franklin & Marshall College</div>
        <div class="item" data-value="Furman University">Furman University</div>
        <div class="item" data-value="University of Florida">University of Florida</div>
        <div class="item" data-value="George Mason University">George Mason University</div>
        <div class="item" data-value="George Washington University">George Washington University</div>
        <div class="item" data-value="Georgetown University">Georgetown University</div>
        <div class="item" data-value="Georgia Institute of Technology">Georgia Institute of Technology</div>
        <div class="item" data-value="Georgia State University">Georgia State University</div>
        <div class="item" data-value="Georgia Tech">Georgia Tech</div>
        <div class="item" data-value="Gettysburg College">Gettysburg College</div>
        <div class="item" data-value="Goddard College">Goddard College</div>
        <div class="item" data-value="Golden Gate University">Golden Gate University</div>
        <div class="item" data-value="Gonzaga University">Gonzaga University</div>
        <div class="item" data-value="Goucher College">Goucher College</div>
        <div class="item" data-value="Grinnell College">Grinnell College</div>
        <div class="item" data-value="Grove City College">Grove City College</div>
        <div class="item" data-value="Gustavus Adolphus College">Gustavus Adolphus College</div>
        <div class="item" data-value="University of Georgia">University of Georgia</div>
        <div class="item" data-value="Hamilton College">Hamilton College</div>
        <div class="item" data-value="Hampden-Sydney College">Hampden-Sydney College</div>
        <div class="item" data-value="Hampshire College">Hampshire College</div>
        <div class="item" data-value="Hampton University">Hampton University</div>
        <div class="item" data-value="Hanover College">Hanover College</div>
        <div class="item" data-value="University of Hartford">University of Hartford</div>
        <div class="item" data-value="Hartwick College">Hartwick College</div>
        <div class="item" data-value="Harvard University">Harvard University</div>
        <div class="item" data-value="Harvey Mudd College">Harvey Mudd College</div>
        <div class="item" data-value="Haverford College">Haverford College</div>
        <div class="item" data-value="Hendrix College">Hendrix College</div>
        <div class="item" data-value="High Point University">High Point University</div>
        <div class="item" data-value="Hillsdale College">Hillsdale College</div>
        <div class="item" data-value="Hiram College">Hiram College</div>
        <div class="item" data-value="Hobart and William Smith Colleges">Hobart and William Smith Colleges</div>
        <div class="item" data-value="Hofstra University">Hofstra University</div>
        <div class="item" data-value="Hollins University">Hollins University</div>
        <div class="item" data-value="College of the Holy Cross">College of the Holy Cross</div>
        <div class="item" data-value="Hope College">Hope College</div>
        <div class="item" data-value="Howard University">Howard University</div>
        <div class="item" data-value="Humboldt State University">Humboldt State University</div>
        <div class="item" data-value="Illinois Institute of Technology">Illinois Institute of Technology</div>
        <div class="item" data-value="Illinois Wesleyan University">Illinois Wesleyan University</div>
        <div class="item" data-value="Indiana University - Bloomington">Indiana University - Bloomington</div>
        <div class="item" data-value="Indiana University - South Bend">Indiana University - South Bend</div>
        <div class="item" data-value="Indiana University of Pennsylvania">Indiana University of Pennsylvania</div>
        <div class="item" data-value="Indiana University-Purdue University Indianapolis">Indiana University-Purdue University Indianapolis</div>
        <div class="item" data-value="Ithaca College">Ithaca College</div>
        <div class="item" data-value="University of Illinois - Chicago">University of Illinois - Chicago</div>
        <div class="item" data-value="University of Illinois - Urbana-Champaign">University of Illinois - Urbana-Champaign</div>
        <div class="item" data-value="University of Iowa">University of Iowa</div>
        <div class="item" data-value="Iowa State University">Iowa State University</div>
        <div class="item" data-value="James Madison University">James Madison University</div>
        <div class="item" data-value="Johns Hopkins University">Johns Hopkins University</div>
        <div class="item" data-value="Juniata College">Juniata College</div>
        <div class="item" data-value="The Juilliard School">The Juilliard School</div>
        <div class="item" data-value="Kalamazoo College">Kalamazoo College</div>
        <div class="item" data-value="Kansas State University">Kansas State University</div>
        <div class="item" data-value="Kent State University">Kent State University</div>
        <div class="item" data-value="Kenyon College">Kenyon College</div>
        <div class="item" data-value="Knox College">Knox College</div>
        <div class="item" data-value="University of Kansas">University of Kansas</div>
        <div class="item" data-value="University of Kentucky">University of Kentucky</div>
        <div class="item" data-value="Lafayette College">Lafayette College</div>
        <div class="item" data-value="Lake Forest College">Lake Forest College</div>
        <div class="item" data-value="LaSalle University">LaSalle University</div>
        <div class="item" data-value="Lawrence University">Lawrence University</div>
        <div class="item" data-value="Lehigh University">Lehigh University</div>
        <div class="item" data-value="Lewis & Clark College">Lewis & Clark College</div>
        <div class="item" data-value="Linfield College">Linfield College</div>
        <div class="item" data-value="Louisiana State University">Louisiana State University</div>
        <div class="item" data-value="Loyola Marymount University">Loyola Marymount University</div>
        <div class="item" data-value="Loyola University Maryland">Loyola University Maryland</div>
        <div class="item" data-value="Loyola University - New Orleans">Loyola University - New Orleans</div>
        <div class="item" data-value="Loyola University of Chicago">Loyola University of Chicago</div>
        <div class="item" data-value="Lynchburg College">Lynchburg College</div>
        <div class="item" data-value="Macalester College">Macalester College</div>
        <div class="item" data-value="Manhattan College">Manhattan College</div>
        <div class="item" data-value="Manhattanville College">Manhattanville College</div>
        <div class="item" data-value="Marietta College">Marietta College</div>
        <div class="item" data-value="Marist College">Marist College</div>
        <div class="item" data-value="Marlboro College">Marlboro College</div>
        <div class="item" data-value="Marquette University">Marquette University</div>
        <div class="item" data-value="Massachusetts Institute of Technology">Massachusetts Institute of Technology</div>
        <div class="item" data-value="Marymount Manhattan College">Marymount Manhattan College</div>
        <div class="item" data-value="McGill University">McGill University</div>
        <div class="item" data-value="Mercer University">Mercer University</div>
        <div class="item" data-value="Merrimack College">Merrimack College</div>
        <div class="item" data-value="Miami University - Ohio">Miami University - Ohio</div>
        <div class="item" data-value="Michigan State University">Michigan State University</div>
        <div class="item" data-value="Michigan Technological University">Michigan Technological University</div>
        <div class="item" data-value="Middlebury College">Middlebury College</div>
        <div class="item" data-value="Mills College">Mills College</div>
        <div class="item" data-value="Millsaps College">Millsaps College</div>
        <div class="item" data-value="Mississippi State University">Mississippi State University</div>
        <div class="item" data-value="Monmouth University">Monmouth University</div>
        <div class="item" data-value="Montclair State University">Montclair State University</div>
        <div class="item" data-value="Moravian College">Moravian College</div>
        <div class="item" data-value="Morehouse College">Morehouse College</div>
        <div class="item" data-value="Mount Holyoke College">Mount Holyoke College</div>
        <div class="item" data-value="Muhlenberg College">Muhlenberg College</div>
        <div class="item" data-value="University of Maine">University of Maine</div>
        <div class="item" data-value="University of Mary Washington">University of Mary Washington</div>
        <div class="item" data-value="University of Maryland - Baltimore County">University of Maryland - Baltimore County</div>
        <div class="item" data-value="University of Maryland - College Park">University of Maryland - College Park</div>
        <div class="item" data-value="University of Massachusetts - Amherst">University of Massachusetts - Amherst</div>
        <div class="item" data-value="University of Massachusetts - Boston">University of Massachusetts - Boston</div>
        <div class="item" data-value="University of Miami - Florida">University of Miami - Florida</div>
        <div class="item" data-value="University of Michigan - Ann Arbor">University of Michigan - Ann Arbor</div>
        <div class="item" data-value="University of Minnesota - Twin Cities">University of Minnesota - Twin Cities</div>
        <div class="item" data-value="University of Mississippi">University of Mississippi</div>
        <div class="item" data-value="University of Missouri - Columbia">University of Missouri - Columbia</div>
        <div class="item" data-value="University of Missouri - Kansas City">University of Missouri - Kansas City</div>
        <div class="item" data-value="Missouri University of Science and Technology">Missouri University of Science and Technology</div>
        <div class="item" data-value="University of Montana - Missoula">University of Montana - Missoula</div>
        <div class="item" data-value="New College of Florida">New College of Florida</div>
        <div class="item" data-value="New England College">New England College</div>
        <div class="item" data-value="New Jersey Institute of Technology">New Jersey Institute of Technology</div>
        <div class="item" data-value="New Mexico Institute of Mining & Technology">New Mexico Institute of Mining & Technology</div>
        <div class="item" data-value="New York University">New York University</div>
        <div class="item" data-value="University of North Carolina - Chapel Hill">University of North Carolina - Chapel Hill</div>
        <div class="item" data-value="North Carolina School of the Arts">North Carolina School of the Arts</div>
        <div class="item" data-value="North Carolina State University">North Carolina State University</div>
        <div class="item" data-value="Northeastern University">Northeastern University</div>
        <div class="item" data-value="Northern Arizona University">Northern Arizona University</div>
        <div class="item" data-value="Northwestern University">Northwestern University</div>
        <div class="item" data-value="The College of New Jersey">The College of New Jersey</div>
        <div class="item" data-value="University of Nebraska - Lincoln">University of Nebraska - Lincoln</div>
        <div class="item" data-value="University of Nevada - Las Vegas">University of Nevada - Las Vegas</div>
        <div class="item" data-value="University of New Hampshire">University of New Hampshire</div>
        <div class="item" data-value="University of New Haven">University of New Haven</div>
        <div class="item" data-value="University of New Mexico">University of New Mexico</div>
        <div class="item" data-value="University of New Orleans">University of New Orleans</div>
        <div class="item" data-value="University of North Carolina - Asheville">University of North Carolina - Asheville</div>
        <div class="item" data-value="University of North Carolina - Charlotte">University of North Carolina - Charlotte</div>
        <div class="item" data-value="University of North Carolina - Greensboro">University of North Carolina - Greensboro</div>
        <div class="item" data-value="University of North Carolina - Wilmington">University of North Carolina - Wilmington</div>
        <div class="item" data-value="University of North Dakota">University of North Dakota</div>
        <div class="item" data-value="University of Notre Dame">University of Notre Dame</div>
        <div class="item" data-value="University of North Florida">University of North Florida</div>
        <div class="item" data-value="Oberlin College">Oberlin College</div>
        <div class="item" data-value="Occidental College">Occidental College</div>
        <div class="item" data-value="Oglethorpe University">Oglethorpe University</div>
        <div class="item" data-value="Ohio Northern University">Ohio Northern University</div>
        <div class="item" data-value="Ohio State University - Columbus">Ohio State University - Columbus</div>
        <div class="item" data-value="Ohio University - Athens">Ohio University - Athens</div>
        <div class="item" data-value="Ohio Wesleyan University">Ohio Wesleyan University</div>
        <div class="item" data-value="Old Dominion University">Old Dominion University</div>
        <div class="item" data-value="Olin College">Olin College</div>
        <div class="item" data-value="Oregon State University">Oregon State University</div>
        <div class="item" data-value="University of Oklahoma">University of Oklahoma</div>
        <div class="item" data-value="University of Oregon">University of Oregon</div>
        <div class="item" data-value="Pace University">Pace University</div>
        <div class="item" data-value="Parsons School of Design">Parsons School of Design</div>
        <div class="item" data-value="Penn State - University Park">Penn State - University Park</div>
        <div class="item" data-value="Pepperdine University">Pepperdine University</div>
        <div class="item" data-value="Philadelphia University">Philadelphia University</div>
        <div class="item" data-value="Pitzer College">Pitzer College</div>
        <div class="item" data-value="Pomona College">Pomona College</div>
        <div class="item" data-value="Pratt Institute">Pratt Institute</div>
        <div class="item" data-value="Princeton University">Princeton University</div>
        <div class="item" data-value="Providence College">Providence College</div>
        <div class="item" data-value="Purdue University - West Lafayette">Purdue University - West Lafayette</div>
        <div class="item" data-value="University of Pennsylvania">University of Pennsylvania</div>
        <div class="item" data-value="University of Pittsburgh">University of Pittsburgh</div>
        <div class="item" data-value="University of Puget Sound">University of Puget Sound</div>
        <div class="item" data-value="University of the Pacific">University of the Pacific</div>
        <div class="item" data-value="Queens University - Kingston">Queens University - Kingston</div>
        <div class="item" data-value="Quinnipiac University">Quinnipiac University</div>
        <div class="item" data-value="Randolph College">Randolph College</div>
        <div class="item" data-value="Randolph-Macon College">Randolph-Macon College</div>
        <div class="item" data-value="Reed College">Reed College</div>
        <div class="item" data-value="Regis University">Regis University</div>
        <div class="item" data-value="Rensselaer Polytechnic Institute">Rensselaer Polytechnic Institute</div>
        <div class="item" data-value="Rhode Island school of Design">Rhode Island school of Design</div>
        <div class="item" data-value="Rhodes College - Memphis">Rhodes College - Memphis</div>
        <div class="item" data-value="Rice University">Rice University</div>
        <div class="item" data-value="Rider University">Rider University</div>
        <div class="item" data-value="Ripon College">Ripon College</div>
        <div class="item" data-value="Rochester Institute of Technology">Rochester Institute of Technology</div>
        <div class="item" data-value="Rollins College">Rollins College</div>
        <div class="item" data-value="Rose-Hulman Institute of Technology">Rose-Hulman Institute of Technology</div>
        <div class="item" data-value="Rowan University">Rowan University</div>
        <div class="item" data-value="Rutgers">Rutgers</div>
        <div class="item" data-value="University of Redlands">University of Redlands</div>
        <div class="item" data-value="University of Rhode Island">University of Rhode Island</div>
        <div class="item" data-value="University of Richmond">University of Richmond</div>
        <div class="item" data-value="University of Rochester">University of Rochester</div>
        <div class="item" data-value="Sacred Heart University">Sacred Heart University</div>
        <div class="item" data-value="Saint Anselm College">Saint Anselm College</div>
        <div class="item" data-value="St. Bonaventure University">St. Bonaventure University</div>
        <div class="item" data-value="St. John's College (Maryland)">St. John's College (Maryland)</div>
        <div class="item" data-value="St. John's College (New Mexico)">St. John's College (New Mexico)</div>
        <div class="item" data-value="St. John's University">St. John's University</div>
        <div class="item" data-value="Saint John's University - College of Saint Benedict">Saint John's University - College of Saint Benedict</div>
        <div class="item" data-value="Saint Joseph's University">Saint Joseph's University</div>
        <div class="item" data-value="St. Lawrence University">St. Lawrence University</div>
        <div class="item" data-value="Saint Louis University">Saint Louis University</div>
        <div class="item" data-value="Saint Mary's College - Notre Dame">Saint Mary's College - Notre Dame</div>
        <div class="item" data-value="Saint Mary's College of California">Saint Mary's College of California</div>
        <div class="item" data-value="St. Mary's College of Maryland">St. Mary's College of Maryland</div>
        <div class="item" data-value="Saint Michael's College">Saint Michael's College</div>
        <div class="item" data-value="Saint Olaf College">Saint Olaf College</div>
        <div class="item" data-value="Salisbury University">Salisbury University</div>
        <div class="item" data-value="Salve Regina University">Salve Regina University</div>
        <div class="item" data-value="Samford University">Samford University</div>
        <div class="item" data-value="San Diego State University">San Diego State University</div>
        <div class="item" data-value="San Francisco State University">San Francisco State University</div>
        <div class="item" data-value="Santa Clara University">Santa Clara University</div>
        <div class="item" data-value="Sarah Lawrence College">Sarah Lawrence College</div>
        <div class="item" data-value="Savannah College of Art and Design">Savannah College of Art and Design</div>
        <div class="item" data-value="School of Visual Arts">School of Visual Arts</div>
        <div class="item" data-value="Scripps College">Scripps College</div>
        <div class="item" data-value="Seattle University">Seattle University</div>
        <div class="item" data-value="Seton Hall University">Seton Hall University</div>
        <div class="item" data-value="Sewanee: The University of the South">Sewanee: The University of the South</div>
        <div class="item" data-value="Shimer College">Shimer College</div>
        <div class="item" data-value="Siena College">Siena College</div>
        <div class="item" data-value="Simmons College">Simmons College</div>
        <div class="item" data-value="Simon's Rock College of Bard">Simon's Rock College of Bard</div>
        <div class="item" data-value="Skidmore College">Skidmore College</div>
        <div class="item" data-value="Smith College">Smith College</div>
        <div class="item" data-value="Soka University of America">Soka University of America</div>
        <div class="item" data-value="Sonoma State University">Sonoma State University</div>
        <div class="item" data-value="Southern Methodist University">Southern Methodist University</div>
        <div class="item" data-value="Southwestern University">Southwestern University</div>
        <div class="item" data-value="Spelman College">Spelman College</div>
        <div class="item" data-value="Stanford University">Stanford University</div>
        <div class="item" data-value="Stephens College">Stephens College</div>
        <div class="item" data-value="Stetson University">Stetson University</div>
        <div class="item" data-value="Stevens Institute of Technology">Stevens Institute of Technology</div>
        <div class="item" data-value="Stevenson University">Stevenson University</div>
        <div class="item" data-value="Stonehill College">Stonehill College</div>
        <div class="item" data-value="SUNY - General">SUNY - General</div>
        <div class="item" data-value="SUNY at Albany">SUNY at Albany</div>
        <div class="item" data-value="SUNY at Binghamton">SUNY at Binghamton</div>
        <div class="item" data-value="SUNY at Buffalo">SUNY at Buffalo</div>
        <div class="item" data-value="SUNY at Stony Brook">SUNY at Stony Brook</div>
        <div class="item" data-value="SUNY College at Geneseo">SUNY College at Geneseo</div>
        <div class="item" data-value="SUNY College at Purchase">SUNY College at Purchase</div>
        <div class="item" data-value="Susquehanna University">Susquehanna University</div>
        <div class="item" data-value="Swarthmore College">Swarthmore College</div>
        <div class="item" data-value="Sweet Briar College">Sweet Briar College</div>
        <div class="item" data-value="Syracuse University">Syracuse University</div>
        <div class="item" data-value="University of San Diego">University of San Diego</div>
        <div class="item" data-value="University of San Francisco">University of San Francisco</div>
        <div class="item" data-value="University of Scranton">University of Scranton</div>
        <div class="item" data-value="University of South Carolina - Columbia">University of South Carolina - Columbia</div>
        <div class="item" data-value="University of South Florida">University of South Florida</div>
        <div class="item" data-value="University of Southern California">University of Southern California</div>
        <div class="item" data-value="TCU">TCU</div>
        <div class="item" data-value="Temple University">Temple University</div>
        <div class="item" data-value="Texas A&M University">Texas A&M University</div>
        <div class="item" data-value="Texas Tech University">Texas Tech University</div>
        <div class="item" data-value="The University of Texas at Austin">The University of Texas at Austin</div>
        <div class="item" data-value="The University of Texas at Dallas">The University of Texas at Dallas</div>
        <div class="item" data-value="Thomas Aquinas College - California">Thomas Aquinas College - California</div>
        <div class="item" data-value="Towson University">Towson University</div>
        <div class="item" data-value="Trinity College - Connecticut">Trinity College - Connecticut</div>
        <div class="item" data-value="Trinity University">Trinity University</div>
        <div class="item" data-value="Truman State University">Truman State University</div>
        <div class="item" data-value="Tufts University">Tufts University</div>
        <div class="item" data-value="Tulane University">Tulane University</div>
        <div class="item" data-value="Tuskegee University">Tuskegee University</div>
        <div class="item" data-value="University of Tampa">University of Tampa</div>
        <div class="item" data-value="University of Tennessee - Knoxville">University of Tennessee - Knoxville</div>
        <div class="item" data-value="University of Toronto">University of Toronto</div>
        <div class="item" data-value="University of Tulsa">University of Tulsa</div>
        <div class="item" data-value="Union College - New York">Union College - New York</div>
        <div class="item" data-value="United States Air Force Academy">United States Air Force Academy</div>
        <div class="item" data-value="United States Coast Guard Academy">United States Coast Guard Academy</div>
        <div class="item" data-value="United States Merchant Marine Academy">United States Merchant Marine Academy</div>
        <div class="item" data-value="United States Military Academy">United States Military Academy</div>
        <div class="item" data-value="United States Naval Academy">United States Naval Academy</div>
        <div class="item" data-value="University of the Sciences in Philadelphia">University of the Sciences in Philadelphia</div>
        <div class="item" data-value="Ursinus College">Ursinus College</div>
        <div class="item" data-value="Ursuline College">Ursuline College</div>
        <div class="item" data-value="University of Vermont">University of Vermont</div>
        <div class="item" data-value="University of Virginia">University of Virginia</div>
        <div class="item" data-value="Valparaiso University">Valparaiso University</div>
        <div class="item" data-value="Vanderbilt University">Vanderbilt University</div>
        <div class="item" data-value="Vassar College">Vassar College</div>
        <div class="item" data-value="Villanova University">Villanova University</div>
        <div class="item" data-value="Virginia Commonwealth University">Virginia Commonwealth University</div>
        <div class="item" data-value="Virginia Tech">Virginia Tech</div>
        <div class="item" data-value="Virginia Wesleyan College">Virginia Wesleyan College</div>
        <div class="item" data-value="College of William and Mary">College of William and Mary</div>
        <div class="item" data-value="College of Wooster">College of Wooster</div>
        <div class="item" data-value="University of Washington">University of Washington</div>
        <div class="item" data-value="University of Wisconsin - Madison">University of Wisconsin - Madison</div>
        <div class="item" data-value="University of Wyoming">University of Wyoming</div>
        <div class="item" data-value="Wabash College">Wabash College</div>
        <div class="item" data-value="Wagner College">Wagner College</div>
        <div class="item" data-value="Wake Forest University">Wake Forest University</div>
        <div class="item" data-value="Warren Wilson College">Warren Wilson College</div>
        <div class="item" data-value="Washington and Lee University">Washington and Lee University</div>
        <div class="item" data-value="Washington College">Washington College</div>
        <div class="item" data-value="Washington State University">Washington State University</div>
        <div class="item" data-value="Washington University in St. Louis">Washington University in St. Louis</div>
        <div class="item" data-value="University of Waterloo">University of Waterloo</div>
        <div class="item" data-value="Webb Institute">Webb Institute</div>
        <div class="item" data-value="Wellesley College">Wellesley College</div>
        <div class="item" data-value="Wells College">Wells College</div>
        <div class="item" data-value="Wesleyan College">Wesleyan College</div>
        <div class="item" data-value="Wesleyan University">Wesleyan University</div>
        <div class="item" data-value="West Virginia University">West Virginia University</div>
        <div class="item" data-value="Western Michigan University">Western Michigan University</div>
        <div class="item" data-value="Western Washington University">Western Washington University</div>
        <div class="item" data-value="Westminster College - Pennsylvania">Westminster College - Pennsylvania</div>
        <div class="item" data-value="Wheaton College - Illinois">Wheaton College - Illinois</div>
        <div class="item" data-value="Wheaton College - Massachusetts">Wheaton College - Massachusetts</div>
        <div class="item" data-value="Whitman College">Whitman College</div>
        <div class="item" data-value="Whittier College">Whittier College</div>
        <div class="item" data-value="Willamette University">Willamette University</div>
        <div class="item" data-value="William Jewell College">William Jewell College</div>
        <div class="item" data-value="Williams College">Williams College</div>
        <div class="item" data-value="Wittenberg University">Wittenberg University</div>
        <div class="item" data-value="Wofford College">Wofford College</div>
        <div class="item" data-value="Worcester Polytechnic Institute">Worcester Polytechnic Institute</div>
        <div class="item" data-value="Wright State University">Wright State University</div>
        <div class="item" data-value="Xavier University">Xavier University</div>
        <div class="item" data-value="Yale University">Yale University</div>
        <div class="item" data-value="Yeshiva University">Yeshiva University</div>
     </div>
  </div>
</div>
