{{#if session.isAuthenticated}}
  <div class="ui basic blue button" {{ action 'invalidateSession' }}>Logout</div>
{{else}}
	<div class="ui facebook button" {{action 'authorize' }}> <i class="facebook icon"/> Login</div>
{{/if}}
{{yield}}
