<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey <%= @user.name %>, </p>

    <p>Thanks for signing up for Froshmate!</p>

    <p>    
      We're working on finding a mentee for you and will notify you as soon
      as we've found someone :)
    </p>

    <p>Click <%= link_to "here", @url %> to confirm you're a student at <%= @user.college.name%> </p>


    <p>We're really excited to work with you!</p>
    <p>Best,</p>
    <p>Sid</p>
  </body>
</html>